<mat-toolbar color="primary" class="navbar">
  <div>Cotton Knob Farm</div>
  <div>
    <mat-icon>menu</mat-icon>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened>Cotton Knob Farm</mat-sidenav>
  <mat-sidenav-content>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </mat-sidenav-content>

</mat-sidenav-container>




<!-- Progress Spinner & Progress Bars
  
  <div>
  <mat-progress-spinner value="100"></mat-progress-spinner>
  <p>Spinner at 100%</p>
</div>

<div>
  <mat-spinner *ngIf="showSpinner" color="warn"></mat-spinner>
  <button color="accent" mat-raised-button (click)="loadData()">Load Data</button>
</div>


<div>
  <mat-progress-bar mode="buffer" color="accent"></mat-progress-bar>
  <p>Buffer</p>
</div>
<div>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
  <p>Determinate</p>
</div>
<div>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  <p>Indeterminate</p>
</div>
<div>
  <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
  Query
</div> -->


<!-- Typography
  <div class="mat-display-4">This is display 4.</div>
<div class="mat-display-3">This is display 3.</div>
<div class="mat-display-2">This is display 2.</div>
<div class="mat-display-1">This is display 1.</div>

<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>

<div class="mat-body-1">This is body text.</div>
<div class="mat-body-2">This is bold body text.</div>
<div class="mat-caption">This is caption text.</div>

<div class="mat-typography">
  <h1>This is a heading for h1.</h1>
  <h2>This is a heading for h2.</h2>
  <h3>This is a heading for h3.</h3>
  <h4>This is a heading for h4.</h4>
</div> -->

<!-- Button/Button-Toggle
  <div>
  <button mat-button>Click Me!</button>
  <button mat-raised-button>Click Me!</button>
  <button mat-flat-button>Click Me!</button>
  <button mat-stroked-button>Click Me!</button>
</div>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini</button>
</div>

<div>
  <button color="primary" mat-button>Primary!</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" disableRipple mat-button>Warn</button>
  <button color="primary" mat-raised-button>Primary!</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>

<div>
  <mat-button-toggle #toggleBtn checked disableRipple="">Toggle</mat-button-toggle>
  {{toggleBtn.checked}}

  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
    {{toggleGroup.value}}
  </mat-button-toggle-group>
</div> -->

<!-- Icons & Badges
  <div>
  <mat-icon color="primary">fitbit</mat-icon>
</div>

<div>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications===0">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgePosition="below before">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgePosition="above before">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgeSize="small">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="medium">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="large">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgeColor="accent">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
</div> -->